.tmp
.cache
__tmp
data/logs
data/db
configuration/ssl/*
configuration/db/*
coverage
dist
.nyc_output
.next
bower_components
*.log
*.sublime*
*.node
*.orig
.idea
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
.vscode
