.tmp
.cache
__tmp
data/logs
data/db
configuration/ssl/*
configuration/db/*
**/*/.env
coverage
.nyc_output
.next
*.log
*.sublime*
*.node
*.orig
.idea
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
.vscode
