version: "3"

networks:
  sinergy-net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16

## TODO
# Create local drivers for shared and persistent folders
# volumes:
  # ssl:
  #   driver: local
  #   driver_opts:
  #     type: none
  #     mountpoint: ${ROOT_PATH}/configuration/ssl/
  # proto_files:
  #   driver: local
  #   driver_opts:
  #     mountpoint: ${ROOT_PATH}/configuration/protos/

services:
  # Proxy
  nginx-proxy:
    restart: always
    image: jwilder/nginx-proxy
    container_name: sinergy.nginx
    links:
      - api
      - db
      - bus
      - polytron
      - reactron
    ports:
      - "80:80"
      - "443:443"
    volumes: #see @todo volumes
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ${ROOT_PATH}/data/logs/nginx/:/var/log/nginx/
      - ${ROOT_PATH}/configuration/ssl/:/etc/nginx/ssl/
      - ${ROOT_PATH}/configuration/nginx/vhost.d/:/etc/nginx/vhost.d/

    networks:
     - sinergy-net
    environment:
      - DEFAULT_HOST=react.sinergy.localhost

  # Backend
    ## DB
  db:
    image: sinergy/db
    build: ${DB_SERVICE_PATH}
    restart: unless-stopped
    container_name: sinergy.db
    volumes:
      - ${ROOT_PATH}/configuration/db/couchdb/etc:/usr/local/etc/couchdb/local.d
      - ${ROOT_PATH}/data/db/couchdb/lib:/usr/local/var/lib/couchdb
      - ${ROOT_PATH}/configuration/ssl/:/etc/nginx/certs/
    ports:
      - "6984:6984"
      - "5984:5984"
    networks:
      sinergy-net:
        ipv4_address: 172.28.1.1
    env_file:
      - ${DB_SERVICE_PATH}/.env

  ## EXPRESS API GATEWAY
  api:
    image: sinergy/api
    container_name: sinergy.api
    restart: unless-stopped
    depends_on:
      - db
      - bus
      - micro-hello
    build:
      context: ${API_SERVICE_PATH}
      args:
        node_version: ${NODEJS_VERSION}
        nodemon_version: "latest"
    command: bash -c "while ! curl -fs bus:15672 > /dev/null; do echo waiting for bus; sleep 3; done; yarn start:dev;"
    volumes:
      - ${API_SERVICE_PATH}/:/usr/src/app
      - ${ROOT_PATH}/configuration/dev/.eslintrc.yml:/usr/src/app/.eslintrc.yml
      - ${ROOT_PATH}/configuration/ssl/:/usr/src/app/ssl/
      - ${ROOT_PATH}/configuration/protos/:/usr/src/app/protos/
      - /usr/src/app/node_modules
    expose:
      - 4000
      - 5858
    ports:
      - "4000:4000"
      - "5858:5858"
    networks:
      sinergy-net:
        ipv4_address: 172.28.1.2
    env_file:
      - ${API_SERVICE_PATH}/.env
  ## bus
  bus:
    image: sinergy/bus
    build: ${BUS_SERVICE_PATH}
    container_name: sinergy.bus
    restart: unless-stopped
    ports:
      - "5000:15672"
      - "5672:5672"
    # healthcheck:
    #   test: ["CMD", "curl", "-fs", "http://localhost"]
    #   interval: 1m30s
    #   timeout: 10s
    #   retries: 3
    networks:
      sinergy-net:
        ipv4_address: 172.28.1.3
    env_file:
      - ${BUS_SERVICE_PATH}/.env

  # UIs
  polytron:
    image: sinergy/polytron
    container_name: sinergy.polytron
    restart: unless-stopped
    build:
      context: ${APP_POLYMER_SERVICE_PATH}
    command: yarn start:dev
    volumes:
      - ${APP_POLYMER_SERVICE_PATH}/:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/bower_components
    depends_on:
      - api
    ports:
      - "8081:8081"
      - "9081:9081"
    networks:
      sinergy-net:
        ipv4_address: 172.28.1.4
    env_file:
      - ${APP_POLYMER_SERVICE_PATH}/.env

  reactron:
    image: sinergy/reactron
    container_name: sinergy.reactron
    restart: unless-stopped
    build:
      context: ${APP_REACT_SERVICE_PATH}
      args:
        node_version: ${NODEJS_VERSION}
        nodemon_version: "latest"
    command: yarn start:dev
    volumes:
      - ${APP_REACT_SERVICE_PATH}/:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - api
    ports:
      - "8080:8080"
      - "9080:9080"
    networks:
      sinergy-net:
        ipv4_address: 172.28.1.5
    env_file:
      - ${APP_REACT_SERVICE_PATH}/.env


  ##################################################
  ## MicroServices
  ##################################################
  micro-hello:
    image: sinergy/micro-hello
    container_name: sinergy.micro-hello
    restart: unless-stopped
    depends_on:
      - bus
    build:
      context: ${MICRO_HELLO_SERVICE_PATH}
      args:
        node_version: ${NODEJS_VERSION}
        nodemon_version: "latest"
    command: bash -c "while ! curl -fs bus:15672 > /dev/null; do echo waiting for bus; sleep 3; done; yarn start:dev;"
    volumes:
      - ${MICRO_HELLO_SERVICE_PATH}/:/usr/src/app
      - ${ROOT_PATH}/configuration/dev/.eslintrc.yml:/usr/src/app/.eslintrc.yml
      - ${ROOT_PATH}/configuration/ssl/:/usr/src/app/ssl/
      - ${ROOT_PATH}/configuration/protos/:/usr/src/app/protos/
      - /usr/src/app/node_modules
    expose:
      - 40000
      - 5859
    ports:
      - "40000:40000"
      - "5859:5859"
    networks:
      sinergy-net:
        ipv4_address: 172.28.1.100
    env_file:
      - ${MICRO_HELLO_SERVICE_PATH}/.env
