<link rel="import" href="/node_modules/@polymer/polymer/polymer-element.html">
<dom-module id="km-hello">
  <template>
    <style>
      span {
        font-weight: bold;
      }
    </style>
    <div>
      Hello, <span>[[name]]</span>!
    </div>
  </template>

  <script>
    class KmHello extends Polymer.Element {
      static get is() { return 'km-hello'; }
      // Define property/attribute API:
      static get properties() {
        return {
          name: {
            type: String,
          }
        }
      }
    }

    // Register custom element class with browser
    customElements.define(KmHello.is, KmHello);
  </script>
</dom-module>
